body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

select {
  width: 300px;
  padding: 10px 20px;
  color: red;
}

/* -------------------------------------- */

div {
  height: 100px;
  width: 300px;
  background: red;
}
