body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

div {
  height: 100px;
  width: 300px;
}

select {
  width: 300px;
  padding: 10px 20px;
}

/* --------------여기까지는 개별적으로 준 스타일-------------- */

div {
  background: red;
}

select {
  color: red;
}
